@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cutive+Mono&family=Poppins&family=Unlock&family=Unna&family=Vidaloka&display=swap');


/* * {
    font-family: Cutive Mono;
} */

.header {
    background-color: #445C4C;

}

aside {
    background-color: #D6E2E0;
    font-family: Unna;
}

.admin-cons {
    width: 25%;
}

.admin_nav {
    background-color: #508068;
}

section {
    background-color: #D6E2E0;
    width: 73%;

    font-family: Cutive Mono;
}

footer p {
    margin-right: 10px;
}